{% extends 'base.html' %}

{% block title %}Список доступных материалов{% endblock %}
{% block body %}
    <table class="table table-condensed table-hover table-bordered">
        <caption>Заголовок таблицы</caption>
        <thead>
            <tr>
                <th>id</th>
                <th>код</th>
                <th>Название</th>
                <th>Описание</th>
            </tr>
        </thead>
        <tbody>
        {% for book in booklist %}
            <tr>
                <td>{{ book[0] }}</td>
                <td>{{ book[1] }}</td>
                <td>{{ book[2] }}</td>
                <td style="font-size:8pt">{{ book[3] }}</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>
{% endblock %}