{% extends 'base.html' %}

{% block title %}Регистрация{% endblock %}
{% block body %}
<div class="container">
    <h1>Регистрация пользователя</h1>
    <form method="post">
        <input style="margin-bottom: 0" type="text" name="login" id="login" class="form-control" placeholder="Введите логин, который будет отображаться на сайте">
        <p style="padding: 0; height: 8px; font-size: smaller; color: #000080; font-style: italic">* логин должен состоять из 3-16 символов и может содеражать только буквы, цифры и смвол "_"</p><br>
        <input type="text" name="email" id="email" class="form-control" placeholder="Введите реальный адрес электронной почты"><br>
        <input type="text" name="password1" id="password1" class="form-control" placeholder="Введите пароль"><br>
        <input type="text" name="password2" id="password2" class="form-control" placeholder="Повторите пароль"><br>
        <input type="submit" class="btn btn-light" value="Регистрация"><br>
    </form>
</div>
{% endblock %}